In [2]:
#1
a = "ram"
print(a)

ram

In [3]:
b = [1,3,4,5,"ram",True]
print(b)

[1, 3, 4, 5, 'ram', True]

In [4]:
c = 12.2345
print(c)

12.2345

In [7]:
d = ("ram","charan","fighter")
print(d)

('ram', 'charan', 'fighter')

In [8]:
#2
var1 = ''
print(var1,type(var1))

 <class 'str'>

In [6]:
var2 = "[ DS , ML , Python]"
print(var2,type(var2))

[ DS , ML , Python] <class 'str'>

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]
print(var3,type(var3))

['DS', 'ML', 'Python'] <class 'list'>

In [10]:
var4 = 1
print(var4,type(var4))

1 <class 'int'>

In [6]:
#3
a = 5
b = 10
c = a/b
print(c)

0.5

In [7]:
a = 5
b = 10
c = a%b
print(c)

5

In [8]:
a = 5
b = 10
c = a//b
print(c)

0

In [9]:
a = 5
b = 10
c = a**b
print(c)

9765625

In [14]:
#4
list = [1,2,3,4,5,6,"ram",True,23.456,False]

In [15]:
for i in list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'bool'>

In [12]:
#5
a=int(input())
b=int(input())

while a//b:
    print(a//b)
    break

10
5
2

In [17]:
#6
l = [1,23,34,26,27,30,33,31,27,21,12,23,45,67,89,90,67,54,63,36,34,88,99,80,70]
c = []

In [18]:
for i in l :
    if i%3 == 0:
        c.append(i)
print(c)

[27, 30, 33, 27, 21, 12, 45, 90, 54, 63, 36, 99]

In [19]:
#7(mutable)
a = [1,23,45,67,"ram"]

In [22]:
a[2] = 47
a

[1, 23, 47, 67, 'ram']

In [23]:
#(immutable)
b = "ram"

In [24]:
b[1] = 'm'

TypeError: 'str' object does not support item assignment